/*
  Global Reset Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Roboto+Slab:wght@300;500&display=swap');



:root {
  --soft-blue: #59a0ee;
  --pure-blue: #0070f3;
  --dark-blue: #004574;
  --grayish-orange: #edecea;
  --lime-green: #63A391;
  --gray-black: #111111;

}

* {
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: var(--gray-black);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 ,h3 , h4, h5, h6{
  line-height: 1.2;
  margin: 0;
}
p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}




//CARD UI

.card-ui {
  display: flex;
  text-align: left;
  font-size: 18px;
  justify-content: space-between;
  &__item {
    align-self: stretch;
    margin: 5em 0 0;
    &--text {
      padding: 0 2em 0;
    }
  }
}
