/*
  Global Reset Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Roboto+Slab:wght@300;500&display=swap');



:root {
  --soft-blue: #59a0ee;
  --pure-blue: #0070f3;
  --dark-blue: #004574;
  --dark-black-blue: #232230; //#1d1d2c
  --grayish-orange: #edecea;
  --lime-green: #63A391;
  --gray-black: #111111;
  --gray-cyan: #1a1f21;  //#677c84 //#698086
  --light-gray: #ebebeb;
  --very-light-gray: #f7f7f7;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--very-light-gray);
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: var(--gray-black);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 ,h3 , h4, h5, h6{
  line-height: 1.2;
  margin: 0;
}
p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

b {
color: var(--dark-black-blue);
position: fixed;
z-index: 9999999999999999;
}

//CARD UI
.card-ui {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  @media (min-width: 375px) {
    flex-direction: row;
  }

  &__item {
    align-self: stretch;
    margin: 0.5em 0 0;
    @media (min-width: 375px) {
      margin: 5em 0 0;
    }
    &--text {

      @media (min-width: 375px) {
        width: 55%;
        padding: 0 2em 0;
      }
    }
  }
}

.numCounter {
  position: sticky;
}


.grid {
  align-items: center;
  color: var(--gray-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  @media (min-width: 375px) {

  }

  &-item {
    border-radius: 5px;
    padding: 1em;
    width: auto;
    @media (min-width: 375px) {
      margin: 0 1em 4em;
      width: 20%;
    }
    &--width2 {
      width: auto;
      @media (min-width: 375px) {
        margin: 0 1em 4em;
        width: 50%;
      }
    }
  }
  &__title {
    font-size: 16px;
    margin: 0 0 0.5em;
    @media (min-width: 375px) {
      font-size: 20px;
    }
  }
  &__thumbnail {
    margin: 0 0 1em;
  }
  &__excerpt {
    display: block;
  }
}

.heading_micro {
  font-size: 1.5rem;
  letter-spacing: -.05em;
  margin: 0 0 10px;
}
.two-column {
  display: flex;
  margin: 5em 0;
  padding: 4em 1em;
  position: relative;

  &__item {
    padding: 1em 2em 1em;
    text-align: left;
    &:nth-child(1) {
      margin: -6em 0 0 0;
    }
    &:nth-child(2) {
      margin: -3em 0 0 0;
    }
  }
}
