.wrapper {
  text-align: center;
  padding: 1vw 0;

  &__countrycontent {
    transition: all 1.2s cubic-bezier(0, .55, .45, 1);
    padding: 19.5vw 1vw 0;
    text-align: left;
    position: relative;

  }
  &__content {
    transition: all 1.2s cubic-bezier(0, .55, .45, 1);
    padding: 19.5vw 1vw 0;
    text-align: center;
    position: relative;

    &Intro {
      padding: 7vw 1vw;

    }
  }

  &__home {
    background: var(--purplish-blue) url('../../public/img/_backgrounds/Landing-Page-Hero.png') no-repeat center center / cover;
    color: #fff;
    height: auto;
    padding: 12vw 1vw 0;
    width: 100%;
    min-height: 80vw;

    &Section {
      padding: 9vw 1vw 0;
      background: var(--very-light-gray);
      color: #000;

      &:nth-child(2) {
        color: #fff;
        background: var(--au-chico) url('../../public/img/_backgrounds/One-pager-Hero-image-02.png') no-repeat center center / cover;

      }
      &:nth-child(4) {
        color: #fff;
        background: var(--light-green-blue) url('../../public/img/_backgrounds/One-pager-Hero-image-03.png') no-repeat center center / cover;

      }
    }
  }
  &__about {
    color: var(--gray-black);
    height: auto;
    width: 100%;
    &Section {
      &:nth-child(2) {
        color: #fff;
        background: var(--light-green-blue) url('../../public/img/_backgrounds/About-us-Hero-image-02.png') no-repeat center center / cover;

      }
    }
  }
  &__countries {
    color: var(--gray-black);
    width: 100%;
    height: auto;
  }

}


.title {
  display: inline-block;
  font-size: 6vw;
  font-weight: 100;
  margin: 0;
  text-align: center;


  &Strong {
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
  &Micro {
    font-size: 2vw;
    margin: 0 0 1vw;

  }
}

.countrytitle {
  display: inline-block;
  font-size: 5vw;
  font-weight: 100;
  margin: 0 8%;
  text-align: center;


  &Strong {
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
  &Micro {
    font-size: 2vw;
    margin: 0 0 1vw;

  }
}
.subtitle {
  font-size: 4vw;
  font-weight: 400;
  text-align: left;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 5vw;
  }
  @media (max-width: 400px) {
    font-size: 6vw;
  }

}
.subtitlecenter {
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 5vw;
  }
  @media (max-width: 400px) {
    font-size: 6vw;
  }

}
.leftsubtitle {
  font-size: 3vw;
  font-weight: 400;

}
.description {
  text-align: left;
  font-size: 2vw;
  padding: 2vw 0;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 3vw;
  }
  @media (max-width: 400px) {
    font-size: 4vw;
  }

}
.descriptioncentre {
  text-align: center;
  font-size: 2vw;
  padding: 2vw 4vw;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 3vw;
  }
  @media (max-width: 400px) {
    font-size: 4vw;
  }

}
.descriptioncountry {
  text-align: left;
  font-size: 2vw;
  padding: 2vw 4vw 0 8vw;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 2vw;
  }
  @media (max-width: 400px) {
    font-size: 3vw;
  }

}

.caption {
  padding: 2vw 0 0;
}
.caption {
  padding: 0 0 0;
}
.excerpt {
  font-size: 2vw;
  @media (min-width: 401px) and (max-width: 720px) {
    font-size: 3vw;
  }
  @media (max-width: 400px) {
    font-size: 4vw;
  }
}

.thumbnail {
  display: inline-block;
  &Div  {
    margin: 0 auto;
  }
}

.body {
  text-align: left;
  padding: 2vw 8%;

  ul {
    padding-left: 5%;
    padding-bottom: 1vw;
  }
  li {
    list-style: disc;
    @media (min-width: 401px) and (max-width: 720px) {
      font-size: 2vw;
    }
    @media (max-width: 400px) {
      font-size: 4vw;
    }
  }
  p {
    padding-bottom: 1vw;
    @media (min-width: 401px) and (max-width: 720px) {
      font-size: 2vw;
    }
    @media (max-width: 400px) {
      font-size: 4vw;
    }
  }
  a {
    color: blue;
    text-decoration: underline;
  }
}



.banner {
  background-color: var(  --purplish-blue);
  color: #fff;
  margin: 0 0 10vw;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vw 1vw 5vw;

  &Content {
    margin: 6vw 0 0;
    position: relative;
  }
}

.button {
  color: #000;
  display: inline-block;
  margin: 3vw 0 3vw;
  padding: 1.4vw;
  font-weight: 500;
  span {
    text-transform: inherit;
  }

  &Primary {
    border-radius: 45px;
    border: 2px solid var(--gray-black);
  }
  &:hover,
  &:focus {
    color: var(--lime-green);
    border-color: var(--lime-green);
    text-decoration: none;
  }
}
