.wrapper {
  text-align: center;
  padding: 1em 0;
  @media (min-width: 375px) {
    padding: 2em 0;
  }
  &__content {
    transition: all 1.2s cubic-bezier(0, .55, .45, 1);
    padding: 7em 1em 0;
    text-align: center;
    position: relative;
    @media (min-width: 375px) {
      padding: 10em 0 2em 7em;
      min-height: 100vh;
    }
    &Intro {
      padding: 7em 1em;
      @media (min-width: 375px) {
        padding: 10em 15% 7em;
      }
    }
  }

  &__home {
    background: var(--gray-cyan) url('../../public/img/_backgrounds/world-map.png') no-repeat center center / cover;
    color: #fff;
    height: auto;
    width: 100%;
    &Section {
      background: #fff;
      color: #000;
    }
  }
  &__about {
    color: var(--gray-black);
    height: auto;
    width: 100%;
  }
  &__countries {
    color: var(--gray-black);
    height: auto;
    width: 100%;
    background: url('../../public/img/_backgrounds/banner-bg.png') no-repeat 0 0 / 100%;
    @media (min-width: 375px) {
      //height: 70vh;
    }
  }

}

.title {
  display: inline-block;
  font-size: 73px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  @media (min-width: 375px) {
    font-size: 135px;
  }

  &Strong {
    display: inline-block;
    font-weight: 500;
  }
  &Micro {
    font-size: 26px;
    margin: 0 0 1em;
    @media (min-width: 375px) {
      font-size: 36px;
    }
  }
}
.subtitle {
  font-size: 36px;
  font-weight: 400;
  @media (min-width: 375px) {
    font-size: 65px;
  }
}
.description {
  text-align: center;
  font-size: 1em;
  padding: 1em 0;
  @media (min-width: 375px) {
    font-size: 24px;
    padding: 2em 0;
  }
}
.excerpt {
  font-size: 1em;
  @media (min-width: 375px) {
    font-size: 18px;
  }
}



.banner {
  color: #fff; //Mindful
  margin: 0 0 1em;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7em 1em 0;
  @media (min-width: 375px) {
    padding: 7em 15% 0;
  }

  &Content {
    margin: 1em 0 0;
    position: relative;
    @media (min-width: 375px) {
      margin: 20% 0 0;
    }
  }
}

.button {
  color: #000; //Mindful
  display: inline-block;
  margin: 2em 0;
  padding: 1em;
  font-weight: 500;
  @media (min-width: 375px) {
    margin: 3em 0;
    padding: 1em 2em;
  }

  &Primary {
    border-radius: 45px;
    border: 2px solid var(--gray-black); //Mindful
  }
  &:hover,
  &:focus {
    color: var(--lime-green); //Mindful
    border-color: var(--lime-green); //Mindful
    text-decoration: none;
  }
}
