
.wrapper {
  text-align: center;
  padding: 2em 0;
  &__content {
    transition: all 1.2s cubic-bezier(0, .55, .45, 1);
    padding: 10em 0 2em 7em;
    text-align: center;
    position: relative;
    min-height: 100vh;
    @media only screen and (min-width: 600px) {}
    &Intro {
      padding: 10em 15% 7em;
    }
  }

  &__home {
    background: var(--gray-cyan) url('../../public/img/_backgrounds/world-map.png') no-repeat center center / cover;
    color: #fff;
    height: auto;
    width: 100%;
    &Section {
      background: #fff;
      color: #000;
    }
  }
  &__about,
  &__countries {
    color: var(--gray-black);
    height: auto;
    width: 100%;
  }

}

.title {
  display: inline-block;
  font-size: 135px;
  font-weight: 100;
  margin: 0;
  text-align: center;

  &Strong {
    display: inline-block;
    font-weight: 500;
  }
  &Micro {
    font-size: 36px;
    margin: 0 0 1em;
  }
}
.subtitle {
  font-size: 65px;
  font-weight: 400;
}
.description {
  text-align: center;
  font-size: 24px;
  padding: 2em 0;
}
.excerpt {
  font-size: 18px;
}



.banner {
  color: #fff; //Mindful
  margin: 0 0 1em;
  width: 100%;
  &Countries {
    background: url('../../public/img/_backgrounds/banner-bg.png') no-repeat 0 0 / 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10% 15% 0;
  }
  &Content {
    margin: 20% 0 0;
    position: relative;
  }
}

.button {
  color: #000; //Mindful
  display: inline-block;
  margin: 3em 0;
  padding: 1em 2em;
  font-weight: 500;

  &Primary {
    border-radius: 45px;
    border: 2px solid var(--gray-black); //Mindful
  }
  &:hover,
  &:focus {
    color: var(--lime-green); //Mindful
    border-color: var(--lime-green); //Mindful
    text-decoration: none;
  }
}
