.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 1em 2em;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &Item {
    display: block;
  }
}
.logo {
  font-family: 'Roboto Slab', serif;
  position: relative;
  font-weight: 100;
  &Name {
    font-size: 20px;
    font-weight: 500;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
.menu {
  position: relative;
  &List {
    margin: 0;
    padding: 0;
    &Item {
      list-style: none;
      display: inline-block;
      margin: 0 1em;
    }
    &Anchor {
      color: #fff;
      display: block;

      &:hover,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.cta {
  display: block;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
.main {
  padding: 7em 0 0;
  margin: 7em 0;
}

.backToHome {
  margin: 3em 10%;
  &Anchor {
    color: var(--dark-blue);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    font-weight: 500;
    &:before {
      background: url('../../public/img/undo.svg') no-repeat 0 0;
      content: "";
      display: block;
      height: 50px;
      margin: 0 -5px 0px;
      opacity: 1;
      vertical-align: middle;
      width: 50px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}
