.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 1em 2em;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &__item {

  }
}
.logo {}
.menu {
  &List {}
  &List__item {
    list-style: none;
  }
}
.logo {}

.main {
  padding: 7em 0 0;
}

.backToHome {
  margin: 3em 10%;
  &Anchor {
    color: var(--dark-blue);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    font-weight: 500;
    &:before {
      background: url('../../public/img/undo.svg') no-repeat 0 0;
      content: "";
      display: block;
      height: 50px;
      margin: 0 -5px 0px;
      opacity: 1;
      vertical-align: middle;
      width: 50px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}
